@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(to bottom, #fdfbfd 0%, #d8d6d8 100%) no-repeat fixed;
    height: 100%;
}

.info{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.tabs{
    width: 30%;
    /*border: 1px solid black;*/
}

.tabs h4{
    text-align: center;
    font-size: 2em;
}

.tabs h2{
    padding-left: 10px;
    text-align: center;
}

.coins{
    display: flex;
    width: 60%;
    margin-left: 40px;
    justify-content: space-between;
    font-size: 12px;
}

li{
    list-style: none;
}

ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

ul li{
    font-size: 2em;
    text-decoration: none;
    color: inherit;
    padding: 5px 20px;
    border-radius: 40px;
    border: rgba(16, 209, 77, 0) solid 1px;
    transition: all 0.2s;
}
ul li:hover{
    cursor: pointer;
}


ul li.active{
    background-color: rgb(16, 209, 77);
}

/*.coins h1:hover{
    cursor: pointer;
    text-decoration: underline;
}*/

.dark button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}



.menu{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 35px;
    justify-content: space-between;
}

.chart{
    margin-top: 50px;
    width:800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}